body {
	font-size: 16pt;
	background-color: #101010;
	color: lightgrey;
	background: url("bg.jpg") fixed 50% 50%;
	/*background: linear-gradient(navy,darkened) no-repeat fixed;*/
	/*background: hotpink;*/
}

a {
	color: teal;
	text-shadow:	-1px -1px teal;
}

a:hover {
	color: lightblue;
}

#notice{
	margin-left: auto;
	margin-right: auto;
	width: 500px;
	text-align: center;
}

#notice h2 {
	font-variant: small-caps;
	text-decoration: underline;
}

#head{
	margin-left: auto;
	margin-right: auto;
	color: red;
	font-size: x-large;
	text-shadow: -4px 0 darkred, -4px -4px darkred, 0 -4px darkred;
	text-align: center;
}

#whole {
	margin-left: auto;
	margin-right: auto;
	max-width: 1000px;
	/*font-family: "verdana", sans-serif;*/
}

#button {
	/*border-width: 1px;
	 border-style: dotted;
	 border-radius: 9px;*/
	padding: 3px;
	border-color: dimgray;
}

#menu {
	margin-left: auto;
	margin-right: auto;
	font-size: 16pt;
	font-variant: small-caps;
	background-color: black;
	border-radius: 20px;
	width: 400px;
	/* font-family: serif;*/
}

#minimenu {
	margin-left: auto;
	margin-right: auto;
	font-size: 12pt;
	font-variant: small-caps;
	background-color: black;
	border-radius: 20px;
	width: 325px;
}

#footer {
	font-size: medium;
	margin-left: auto;
	margin-right: auto;
	width: 600px;
	background-color: black;
	border-bottom-right-radius: 20px;
	border-bottom-left-radius: 20px;
	padding: 5px;
	text-align: center;
}

#content {
	background-color: black;
	padding: 5px;
	border-radius: 20px;
	width: 1000px;
	margin-left: auto;
	margin-right: auto;
}

h1 {
	/*font-family: serif;*/
}

h2 {
	color: goldenrod;
	/*font-family: serif;*/
	text-shadow: -1px 0 red, -1px -1px red, 0 -1px darkorange;
}

h3 {
	color:lightgrey;
	text-shadow: -3px 0 #2b1b17, -3px -3px #2b1b17, 0 -3px #2b1b17;
}

li {
	margin-top: 1.1em;
}

th {
	color: lightgrey;
}

code {
	color: peru;
}


